.container {
    background: linear-gradient(to bottom right, #dbe6e4, #9cc7b8);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px auto;
    padding: 30px 20px;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #b5b5b5;
}


h1 {
   
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0f070afd;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #ccc;
}